body {
    font-family: serif;
    line-height: 1.5em;
    background: rgb(209, 188, 160);
}

/* Portrait */
@media only screen and (max-aspect-ratio: 1/1) {
    body {
        font-size: 20px;
    }
}

/* Landscape */
@media only screen and (min-aspect-ratio: 1/1) {
    body {
        font-size: 30px;
    }
}
